@page
@model RPS.Web.Pages.Backlog.CreateModel


<h2>Add New Item</h2>

<form method="post">

    <div class="form-group row">
        <label asp-for="@Model.Title" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            @(Html.Kendo().TextBox().Name("Title").HtmlAttributes(new { style = "width : 50%;"} ))
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            @(Html.Kendo().TextArea().Name("Description").HtmlAttributes(new { style = "width :50%; height: 60px"} ))
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.TypeStr" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            @(Html.Kendo().DropDownList().Name("TypeStr").BindTo(Model.ItemTypes))
        </div>
    </div>


    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>
</form>


<div>
    <a href="/Backlog">Back to List</a>
</div>
